<!-- Урок 10. Построение графиков
Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies? -->

In [108]:
# Вариант решения через .get_dummies
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
pd.get_dummies(data)

    whoAmI_human  whoAmI_robot
0           True         False
1           True         False
2          False          True
3           True         False
4          False          True
5           True         False
6          False          True
7          False          True
8           True         False
9          False          True
10         False          True
11          True         False
12          True         False
13         False          True
14         False          True
15         False          True
16          True         False
17          True         False
18          True         False
19         False          True

In [109]:
# Альтернативный вариант решения
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.loc[data["whoAmI"] == "robot", "whoAmI_robot"] = "1"
data.loc[data["whoAmI"] != "robot", "whoAmI_robot"] = "0"
data.loc[data["whoAmI"] == "human", "whoAmI_human"] = "1"
data.loc[data["whoAmI"] != "human", "whoAmI_human"] = "0"
data[["whoAmI_robot", "whoAmI_human"]]

# Вспомогательный код:
# data["robot"]
# data.columns
# data.head(10)
# pd.get_dummies(data)
        # Не рабочее говнище:
                # data[(data["whoAmI_robot"].isnull()) | (data["whoAmI_human"].isnull())]
                # data["whoAmI_robot"].isnull()
                # data["whoAmI_human"].isnull()
                # data.loc[(pd.isnull(data['whoAmI_robot'])) & (pd.isnull(data['whoAmI_human']))]
                # mask1 = data['whoAmI_robot'].isnull()
                # mask2 = data['whoAmI_human'].isnull()
                # data[mask1 & mask2]

   whoAmI_robot whoAmI_human
0             1            0
1             1            0
2             1            0
3             0            1
4             1            0
5             0            1
6             0            1
7             0            1
8             1            0
9             0            1
10            0            1
11            1            0
12            1            0
13            0            1
14            0            1
15            1            0
16            1            0
17            0            1
18            1            0
19            0            1